[Unit]
Description=program to run the Fan to keep things cool
After=multi-user.target

[Service]
User=markone
WorkingDirectory=/home/markone
ExecStart=/usr/bin/python3 /home/markone/pyfan/fan_ctrl.py

[Install]
WantedBy=multi-user.target
