<!DOCTYPE html>
<html>
  <head>
    <!-- <style>html{visibility: hidden;opacity:0;}</style> -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- custom css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

    <!-- Favicon -->
    <!--link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.ico')}}"-->

    <title>{% block title %}Temprature Tracking{% endblock %}</title> 
    {% block head %}
    {% endblock %}


  </head>
  <body>
    <header class="site-header">
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top justify-content-center">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto"></div>

          <div class="container">
            <div class="navbar-nav">
              <a class="nav-item nav-link" id="dashboard" href="/"><strong>Thermometer</strong></a>
              <a class="nav-item nav-link" id="hourly" href="/hourly">Hourly</a>
              <a class="nav-item nav-link" id="daily" href="/daily">Daily</a>
              <a class="nav-item nav-link" id="weekly" href="/weekly">Weekly</a>
              <a class="nav-item nav-link" id="monthly" href="/monthly">Monthly</a>
              <a class="nav-item nav-link" id="yearly" href="/yearly">Yearly</a>
              <a class="nav-item nav-link" id="clean" href="/clean">Clean</a>
            </div>
          </div>
        </div>
      </nav> 

    <main role="main" class="container-content">
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
          <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
               {%if messages %}
                {%for category, message in messages %}
                  <div class="alert alert-{{ category }}">
                    <h4 style="text-align:center;">{{ message }}</h4>
                  </div>
                {%endfor%}
              {%endif %}
            {%endwith%}
          </div>
          {% block content %}
          {% endblock %}
        </div>
        <div class="col-sm-1"></div>
      </div>
    </main>
  </body>

  <footer>
    <script 
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous">
    </script>
    <script 
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous">
    </script>
    <script 
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous">
    </script>
    <script 
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js" >
    </script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='index.js') }}">
    </script>
    {% block footer %}{% endblock %}
  </footer>
</html>
