{% extends "base.html" %} 
{% block title %}Yearly{% endblock title%}
{% block head%}
<!-- Data Table -->
  <!-- <script type = "text/javascript"  src="https://cdn.datatables.net/plug-ins/1.10.15/dataRender/datetime.js"></script> -->
  <script src="{{ url_for('static', filename='js/plotly-latest.min.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
{% endblock%}

{% block content %}
        <br><br>
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-8">
            <div class="card-header bg-primary text-white text-align:center">
              <h2 class='card-title'>Greenhouse Temprature Over the Year</h2>
            </div>
            <br>
            <div class="card-body">
              <div class="chart" id="bargraph">
                <script>
                    var graphs = {{plot | safe}};
                    Plotly.plot('bargraph',graphs);
                </script>
              </div>
            </div>
          </div>
          <div class="col-sm-1"></div>
        </div>
        <br><br>

{% endblock%}

{% block footer %}
  <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.js"></script>
  
{% endblock %}
https://www.youtube.com/watch?v=lhbSD1Jba0Q